.HomeContainer{
    display: flex;
    flex: 1;
    height: 100vh;
}

.HomeBannerBox1{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #131D47;
}
.HomeBannerBox2{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: #5DDADB;
}
.HomeBannerBox2Sub{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.HomeBannerBox2SubDescription{
margin:  auto 10%;
max-width: 450px;
padding-bottom: 170px;
}
.HomeBannerBox2SubFooter{
    
}
.HomeBannerBox2SubDescription h1{
    font-size: 35pt;
}
.TextSubDescription{
    margin: 0;
    font-size: 20px;
}

/* #Teste{
    height: 200px;
    width: 250px;
    background-color: crimson;
    transition: all 1s 0.2s ease;
    padding: 16px;
    margin-top: 20px;
    
    /* transition é um atalho para 
    transition-property: all;  --all vai ser pra todas.    ou seleiconar "width"
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    
    
}
#Teste:hover{
    border-radius: 70px;
    background-color: blue;
    width: 100px;
    padding: 0;
    margin: 0;
} */

