.HomeContainer{
    display: flex;
    flex: 1;
    height: 100vh;
    min-height: 640px;
    
}
#HomeContainer{
transition: all 1s ease;
}
.HomeBannerBox1{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #131D47; 
}
.HomeBannerBox2{
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: #5DDADB;
}
.HomeBannerBox2Sub{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}
.HomeBannerBox2SubDescription{
margin:  auto 10%;
max-width: 450px;
padding-bottom: 170px;
}
.HomeBannerBox2SubFooter{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
.HomeBannerBox2SubDescription h1{
    font-size: 35pt;
}
.TextSubDescription{
    margin: 0;
    font-size: 20px;
}
#ButtonFieldsContactHome{
    color: #fff;
    font-weight: bold;
    background-color: #131d47;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    border: 0;
    outline: none;
    overflow: hidden;
    transition: all 1s ease;
    padding: 8px;
    height: 40px;
    text-decoration: none;
    margin: 0  12px 0 auto;
}

#HomeLogo{
    transition: all 1s ease;
}
.HomeLogoLogoShow{
    opacity: 0;
}
#HomeLogoSvg{
    transition: all 0.5s ease;
}
@media only screen and (max-width: 700px) {
    #HomeLogoSvg{
        height: 70px;
    }
    .HomeContainer{
       padding-top: 50px;
       display: flex;
       flex-direction: column;
    }
    .HomeBannerBox2SubDescription{
        padding-bottom: 70px;
    }   
    #HomeBannerBox1{
        max-height: 270px;
        min-height: 250px;
    }
}
@media only screen and (max-width: 790px) {
    #ButtonFieldsContactHome{
        font-size: 18px;
    }
    #FooterContainer li{
        padding :0 0 0 22px;
    }
}
@media only screen and (max-width: 700px) {
    #ButtonFieldsContactHome{
        font-size: 20px;
    }
    #FooterContainer{
        padding: 1px;
    }
    #FooterContainer li{
        padding :0 0 0 16px;
    }
    #HeaderContainer a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        
    }
    #HeaderContainer ul{
        background-color: #131D47;
        width: 60%;
    }
    #HeaderContainer li{
        margin: 0 4px;
    }
    #ContactHeader {
        width: 50px;

     }
    
   
   
}





















/* #Teste{
    height: 200px;
    width: 250px;
    background-color: crimson;
    transition: all 1s 0.2s ease;
    padding: 16px;
    margin-top: 20px;
    
    /* transition é um atalho para 
    transition-property: all;  --all vai ser pra todas.    ou seleiconar "width"
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    
    
}
#Teste:hover{
    border-radius: 70px;
    background-color: blue;
    width: 100px;
    padding: 0;
    margin: 0;
} */
#HomeLogo {
    transition: all 1.5s ;
}
.HomeLogoShow {
    opacity: 0;
}
.HomeLogoHidden {
    opacity: 1;
}

