@font-face { font-family: Montserrat; src: url('../../Montserrat-ExtraBold.ttf'); }
@font-face { font-family: MontserratRegular; src: url('../../Montserrat-Regular.ttf'); }
.HeaderContainer{
display: flex;
position: fixed;
right: 0;
height: 50px;
width:100%;
flex-direction: row-reverse;
}
.HeaderContainer ul{
    display:flex;
    width: 50%;
    justify-content: space-between;
    padding: 0;
    margin: auto 0;
}
.HeaderContainer li{
    list-style: none;
    font-size: 20px;
    font-family: 'MontserratRegular', sans-serif;
    font-weight: bold;
    padding: 0 32PX;
    cursor: pointer;
}
@media only screen and (max-width: 1000px) {
    .HeaderContainer li{
        font-size: 16px;
    }
 }