@font-face { font-family: Montserrat; src: url('../../Montserrat-ExtraBold.ttf'); }
@font-face { font-family: MontserratRegular; src: url('../../Montserrat-Regular.ttf'); }
.FooterContainer{
    display: flex;
    height: 50px;
    justify-content: flex-start;
    
}
.FooterContainer li{ 
    list-style: none;
    padding: 0 16px;
    cursor: pointer;
}
#FooterContainerUl {
    display:inline-flex;
    justify-content: space-between;
    padding: 0;
    transition: opacity 1s ;
}
.FooterContainerContactShow {
    opacity: 0;
}
.FooterContainerContactHidden {
    opacity: 1;
}
  