@font-face { font-family: Montserrat; src: url('../../Montserrat-ExtraBold.ttf'); }
@font-face { font-family: MontserratRegular; src: url('../../Montserrat-Regular.ttf'); }
.FooterContainer{
    display: flex;
    height: 50px;
    justify-content: flex-start;
    padding-left: 8%;
    margin-bottom: 3%;
    }
    .FooterContainer ul{
        display:inline-flex;
        justify-content: space-between;
        padding: 0;
    }
    .FooterContainer li{
        list-style: none;
        padding: 0 16px;
        cursor: pointer;
    }
    

    .FooterContainerShow {
        animation: slide-inc 2s forwards;
        -webkit-animation: slide-inc 2s forwards;
     }
    
    #FooterContainerUl {
        
    }
    .FooterContainerHidden {
        padding: 0;
        animation: slide-outc 2s forwards;
        -webkit-animation: slide-outc 2s forwards;
    }
    @keyframes slide-outc {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    @-webkit-keyframes slide-outc {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    @keyframes slide-inc {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes slide-inc {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }