@font-face { font-family: Montserrat; src: url('Montserrat-ExtraBold.ttf'); }
@font-face { font-family: MontserratRegular; src: url('Montserrat-Regular.ttf'); }

*{box-sizing:border-box;
   
}

body{
background-color: #fff;
margin: 0;

}