@font-face { font-family: Montserrat; src: url('Montserrat-ExtraBold.ttf'); }
@font-face { font-family: MontserratRegular; src: url('Montserrat-Regular.ttf'); }

*{box-sizing:border-box;
   
}
html{
  scroll-behavior: smooth;
}
body{
margin: 0;
background-color: transparent;
}
body::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #0A192F;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #CCD6F6;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
     /* creates padding around scroll thumb */
  }
